body {
    font-family: 'Arial', sans-serif;
    background-color: hsl(65, 100%, 50%);
    color: #ee6128;
}
h1 {
    color:#437593;
}
/* Attribute Selector */
a {
    color: #9833faff;
    text-decoration: none;

}

a:hover {
    color: #875394
}
/* Child Selector */
ul > li {
    font-weight: bold;
}
/* Sibling Selector */
h1 + p {
    background-color: aqua;
    padding: 10px;
    border-radius: 5px;
}
/* :hover Pseudo-class */
ul li:hover {
    color: #00ffff

}
/* :nth-child(n) Pseudo-class */
ul li:nth-child(3) {
    background-color: #002fffda;
}
/* :not(selector) Pseudo-class */
p:not(:first-of-type) {
    text-decoration: underline;

}
/* ::BEFORE Pseudo-element */
ul li::before {
    content:"🚀";
}
/* ::BEFORE Pseudo-element */
a::after {
    content:"🌌";
}
/* ::first-letter Pseudo-element */
p::first-letter {
    font-size: 200%;
    color: #439484;
}